body{
    margin: 0;
    font-family: arial, sans-serif;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#cabecalho {
    background-color: #a18065;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

#cabecalho h1{
    margin: 0;
    font-size: 24px;
    color: black;
}

#pontos{
    font-size: 20px;
    margin: 10px 0;
    color: rgb(0, 0, 0);
}



#area-jogo{
    width: 100%;
    min-width: 400px;
    background-color: #ffe9d3;
    border-radius: 10px;
    flex-grow: 1;
    

}
.emoji{
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}
.emoji.clicado{
    transform: scale(1.2);
}
#lista-historico{
    list-style-type: none;
    padding: 0;
    margin: 10px;
    max-width: 400px;
    max-height: 150px;
    overflow-y: auto;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

#lista-historico li {
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

#lista-historico li.zoeiro {
    color: blueviolet;
    font-weight: bold;
}

@media (max-width: 600px)